.LoadingScreen_Custom{
    display: grid;
    grid-template-rows: 1fr 80px;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--Accent-Color-Focus);
}

.QI_LoadingScreen_Logo{
    width: 300px;
}

.LoadingScreen_Custom > .LoadingScreen_Simple_Bottom > .General_Loading > .General_Loading_Bar{
    background-color: white;
}

.QI_Home_Logo{
    width: 75%;
    align-self: center;
    margin-top: 30px;
}

.QI_Home_Title{
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0;
}

.QI_Home_Subtitle{
    font-size: 2em;
    margin-top: 0;
}

.QI_Home_Selector{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding-bottom: 25px;
}

.QI_Home_Selector_Item{
    margin-bottom: 30px;
}

.QI_Home_Selector_Item_Icon{
    height: 100px;
}

.QI_Home_Selector_Item_Title{
    font-family: var(--Text-Font-Primary);
    margin: 0;
}

.QI_Home_Selector_Item_Text{
    margin: 10px;
}

.QI_Home_Github{
    padding-bottom: 40px;
}

.QIQB_QuizItem{
    border: solid rgba(89, 89, 89, 0.25) 2px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.QIQB_QuizItem_Question{
    resize: vertical;
    background-color: unset;
    transition: all var(--Element-Transition-Delay) ease-in-out, height 0s;
    font-family: var(--Text-Font-Primary);
    color: white;
    font-size: 1.5em;
}

.QIQB_QuizItem_Number{
    margin: 0;
}

.QIQB_QuizItem_Controls{
    display: grid;
    grid-template-columns: 1fr 35px;
    align-items: center;
    margin-bottom: 10px;
}

.QIQB_QuizItem_Controls_Icon{
    width: 25px;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.QIQB_QuizItem_Controls_Icon:hover{
    background-color: var(--Accent-Color);
}

.QIQB_Quiz_Download{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.Modal#QIQB_Quiz_DownloadAsFile > .Modal_Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}